﻿@model IEnumerable<AdactaCRMTask.Models.AccountDetail>

<h2>Accounts</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contacts</th>
        <th>Next Activity</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class='@(item.AccContactsInfo.ContactWithoutData ? "text-danger" : (item.AccContactsInfo.NumberOfContacts == 0 ? "text-warning" : ""))'>
            <td>@item.AccountId</td>
            <td>@item.AccountName</td>
            <td>@item.AccountAddress</td>
            <td>@item.AccContactsInfo.NumberOfContacts</td>
            <td>@item.NextActivity</td>
        </tr>
    }

</table>